*
{
    padding:0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
body 
{
    margin:0 auto;
    width:1000px;
           
}
#indexhead 
{   
    background-image:url("../localimages/sy_04.jpg");
    height:99px;
    }
#navy h1
{
    font-size:15px;
    text-align:center ;
    padding-top:5px;
    line-height:20px;
    }
#navy
{
  
    }
#index
{
   margin-top:30px;
   
   
    }
#footer
{
    height:80px;
    background:gray;
    text-align:center;
   
    }
#footer  h1
{
   font-size:15px;
   padding-top:23px;
}
#houtai
{
    text-align:center;
    }
#page
{
    text-align:center;
    }


