*
{
    padding:0;
    margin:0;
    color: #000000;
    font-size: small;
}
body 
{
    margin:0 auto;
    width:700px;
    border:1px solid black;
   
}
#head h1
{
    font-size:20px;
    text-align:center;
    }
#head
{
    background:url("../localimages/background3.jpg");
    }
#item
{
    margin-top:26px;
    text-align :center;
    background:url("../localimages/background3.jpg")
    }
#navy
{
    text-align:right ;
    }
