*
{
    margin:0;
    padding:0;
   
  
}
body 
{
   margin :0 auto;
   width:1024px;
  
}
#indexhead
{   
    height:200px;
    width:1024px;
    float :left ;
   
    }

#indexnavy
{
    height:25px;
    width:740px;
    float :left;
   
    }
 #indexnavy3
 {
     width:284px;
     float :left;
     height:25px;
     text-align:center;
     }
#indexnavy1 ul li
{
    list-style-type:none ;
    height:55px;
    padding-top:20px;
    border:1px solid gray;
    
    }
#indexnavy1 ul li:hover
{
    filter:alpha(opacity=80);
    }
#indexnavy1 ul li a:hover
{
    color:Red ;
    }
#indexnavy1
{
    width:200px;
    float:left ;
   
    }
 
#indexnavy2
{
    width:820px;
    float:left;
  　
    }
#indexfooter
{
    height:100px;
    background:url("../localimages/footer1.jpg");
    clear:both;
    }
#indexfooter1
{
    height:80px;
    width:1000px;
    clear:both;
    text-align:center;
    font-size:15px;
    margin-top:10px;
    margin-left:10px;
    background:url("../localimages/footer.png");
    font-weight:bold;
    position:absolute;
    padding-top:20px;
   
    }
