*
{
    padding:0;
    margin:0;
    font-size: small;
}
body 
{
    margin:0 auto;   
    margin-top:20px;
}
#showvote
{
    width:1000px;
    text-align:center;
    border:1px solid black;
    }
#showvote h1
{
    display:inline;
    font-size:15px;
    }
#showvote span
{
    font-size:15px;
    color:Red;
    }

