*
{
    padding:0;
    margin:0;
}
body
{
    margin:0 auto;
    width:1003px;
    
    }
#head
{
   width:1003px;
   height:189px;
   
   
    }
#neirong1
{
    width:220px;
    height:698px;
    float:left ;
    text-align:center;
    
    }
#neirong1 dl #a
{
   width:166px;
   height:32px;
   margin-top:5px;
    margin-left:30px;
    }
 #neirong1 dl #b
 {
     width:166px;
    height :32px;
     margin-left:30px;
     }
  #neirong1 dl #c
 {
     width:166px;
    height :32px;
    padding-top :8px;
    font-size:12px;
     margin-left:30px;
   
     }
 #neirong1 dl #d
 {
     width:166px;
    height :32px;
    padding-top :8px;
    font-size:12px;
    margin-left:30px;
     }
 #neirong1 dl #e
 {
     width:217px;
     height:565px;
     }
#neirong2
{
    width:783px;
    height:698px;
    float:left ;
    text-align:center;
    }
#neirong2 h1
{
    text-align:center;
    font-size:16px;
    }

#neirong2 dl #kong
{
    background:gray;
    height:30px;
    width:761px;
   margin-left:11px;
    
    }
 #neirong2 dl #gridview
 {
     height:645px;
     }
#footer
{
    width:1003px;
    height:68px;
    clear :both ;
    text-align:center ;
    }
